{% extends 'layout.html' %}
{% load static %}

{% block title %}Django Home Page{% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'images/logo.jpg' %}" alt="logo" width="30" height="24">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'services' %}">Services</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <h3>This is my Django homepage</h3>
      <p>Welcome to my Django homepage. This is where I will be sharing my thoughts, ideas, and experiences as a student.</p>

    </div>
   

    
{% endblock %}